.apply-now {
    background-color: var(--primaryColor);
    color: #fff;
    border-radius: 50px;
    font-size: 1.2rem;
    margin-left: 45%;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .sender {
    color: red;
    font-size: 110%;
  }